h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    margin: 35px 0;
    font-size: 35px;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 13.3333px;
}
button:hover{
    background-color: green;
}